/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.imgHome {
    background-image:linear-gradient(rgba(161, 159, 159, 0.233), rgba(141, 141, 141, 0.377)), url(https://s1.ppllstatics.com/diariovasco/www/multimedia/202204/27/media/cortadas/skate-royo-k5l-U1601804141071noF-1248x770@Diario%20Vasco.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.card{
    width: 18rem;
}